*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    text-align: center;
    display: flex;
    background-color: dodgerblue;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}